<li class='movie-item'>
  <a href='{{id}}' id='{{id}}' class='movie-link' data-type='{{media_type}}'>
    <img src='{{image}}' alt='' class='movie-image' />
    <div class='movie-info'>
      <p class='movie-title'>{{title}}</p>
      <p class='movie-description'>{{genres}} | {{year}}</p>
    </div>
  </a>
  {{! <div class='youtube-btn'>
    <button type='button' class=''>Play Trailer</button>
  </div> }}
  <div class='btn-id'>
    <button data-id='{{id}}' class='youtube-btn'>
      <div class='overlay-btn-youtube-text' data-id='{{id}}'>
        <h2 class='btn-youtube-text' data-id='{{id}}'>Movie Trailer</h2>
      </div>
    </button>

  </div>
</li>